body{
    background-image: linear-gradient(to left,#4CADC9,#6DAB3C,#CBD329);
}

.contenedor{
    background-color: white;
    border-radius:50px;
    
}

#tabla{
    border: none; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border-radius: 20px; 
    -webkit-box-shadow: 0 3px #ccc; 
    -moz-box-shadow: 0 3px #ccc; 
    box-shadow: 0 3px #ccc; 
}
h1,h2{
    color: white;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Gemunu Libre', sans-serif;
    
}

h1{
    font-size: 400%
}

h2{
    font-size: 300%
}
